body {
    margin: 2em;
    padding: 10px;
    border: 0px;
    font-family: sans-serif;
}

#head {
    text-align: center;
}

#weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust 250px as needed */
    gap: 10px; /* Adjust the gap between boxes as needed */
}

#weather p {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
