body {
    margin: 2em;
    padding: 10px;
    border: 0px;
    font-family: sans-serif;
}

#head {
    text-align: center;
}

#weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust 250px as needed */
    gap: 10px; /* Adjust the gap between boxes as needed */
}

#weather p {
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
    padding: 10px;
    text-align: center;
}

button {
    width: 100px; /* Adjust the width as per your design */
    height: 40px; /* Adjust the height as per your design */
    border: none;
    transition: all 0.3s ease; /* Add a smooth transition effect */
}
  
button:hover {
    transform: scale(1.05); 
}
