<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Weather</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link id="favi" rel="icon" type="image/x-icon" href="">
    </head>
    <body>
        <noscript>Please Enable Javascript For Site Functionality</noscript>
        <div id="weatherStatic">
            <h1>Welcome</h1>
            <h2 id="weatherTitle">Weather Is Loading</h2>
            <img id="favicon">
        </div>
        <div id="weather">
        </div>
    </body>
</html>