<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"">
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link id="favi" rel="icon" type="image/x-icon" href="">
    </head>
    <body>
        <noscript>Please Enable Javascript For Site Functionality</noscript>
        <div id="weatherStatic">
            <h1>Welcome</h1>
            <h2 id="weatherTitle">Weather Is Loading</h2>
            <img id="favicon">
        </div>
        <div id="weather">

        </div>
        <br>
        <br>
        <h2 id="remindersTitle">Reminders Are Loading</h2>
        <div id="remindersAdd">

        </div>
        <h2 id="remindersTitle2"></h2>
        <div id="remindersDel">
            
        </div>
        <h2 id="remindersStatic">

        </h2>
        <div id="reminders">

        </div>
        <script type="module" src="/static/weather.js"></script>
        <script type="module" src="/static/reminders.js"></script>
        <script src="/static/theme.js"></script>
    </body>
</html>