<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"">
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <!-- add dynamic favicon here -->
    </head>
    <body>
        <div id="weatherStatic">
            <h1>Welcome</h1>
            <br>
            <h2 id="weatherTitle">Weather Is Loading</h2>
            <img id="favicon">
        </div>
        <div id="weather">

        </div>
        <br>
        <br>
        <div id="remindersStatic">
            <h2 id="remindersTitle">Reminders Are Loading</h2>
        </div>
        <div id="remindersForm">
            
        </div>
        <script type="module" src="/static/weather.js"></script>
        <script type="module" src="/static/reminders.js"></script>
    </body>
</html>