<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"">
        <title>Todo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>To Do List</h1>
        <div id="app">
            <ul>
                <li>Items Go Here</li>
            </ul>
        </div>
        <script src="/static/todo.js"></script>
        <!-- Script Can Handle POST -->
    </body>
</html>
