<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Weather</title>
        <link rel="stylesheet" type="text/css" href="/static/weather.css">
        <link rel="icon" type="image/x-icon" href="{{ favicon }}">
    </head>
    <body>
        <h2>Weather For {{ city }}</h2>
            <img src="{{ favicon }}" alt="Weather Icon">
        </div>
        <div id="weather">
            <p class="gridElement">{{ description }}</p>
            <p class="gridElement">Temperature: {{ temp }}°C<br>Feels Like: {{ temp_feels_like }}°C</p>
            <p class="gridElement">Wind Speed: {{ wind }}kph<br>Direction: {{ wind_degree }}°<br>Gusts: {{ wind_gust }}kph</p>
            <p class="gridElement">Precipitaion: {{ rain }}mm</p>
            <p class="gridElement">Cloud Cover: {{ cloud }}%</p>
            <p class="gridElement">Humidity: {{ humid }}%</p>
            <p class="gridElement">Visibility: {{ vis }}km</p>
            <p class="gridElement">UV Index: {{ uv }}</p>
        </div>
        <br>
        <footer>
            <a href="/">Home</a>
        </footer>
    </body>
</html>